:root { 
--blue_gray_300_19:#8793b819; 
--white_A700_7e:#ffffff7e; 
--indigo_900_7e:#19317b7e; 
--gray_50:#f6f8fb; 
--green_A700:#00ce08; 
--black_900_00:#00000000; 
--black_900:#000000; 
--indigo_A700_01:#2d54dd; 
--black_900_84:#00000084; 
--blue_gray_900:#2f3035; 
--gray_100_90:#f0f3f990; 
--red_A700:#fd0000; 
--gray_600:#828386; 
--gray_700:#666666; 
--indigo_A700_7e:#2d54dd7e; 
--blue_gray_400:#8c8c8c; 
--blue_gray_300:#8893b9; 
--indigo_50:#e1e5f3; 
--gray_200:#e8e8e8; 
--gray_300:#dce0ed; 
--gray_100:#f3f3f3; 
--indigo_A700:#2c56dc; 
--gray_100_01:#f0f3f9; 
--indigo_A400:#3f64e1; 
--indigo_900:#19317b; 
--white_A700:#ffffff; 
}