.flexLables{
    display: flex;
    justify-content: start;
    gap: 1rem;
    width: 100%;
    flex-direction: column !important;
}
.btnDiv{
    display: flex;
    width: 100%;
    justify-content: end;
    button{
        padding: .5rem 1rem;
        background: #000;
        min-width: 250px;
        border: 0;
        transition: .5s;
        border-radius: 3px;
        border: 1px solid #000;
        &:hover{
            background: #fff;
            color: #000;
        }
    }
}